<html>
  <head>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
  </head>
  <body>
    <!-- start: main -->
    <div class="main animated">
      
      <%- include('./includes/header') %>

<div class="autopagerize_page_element">
  <div class="content">
    <% posts.forEach(function(post, postIndex) { %>
      <div class="post animated fadeInDown">
        <div class="post_title">
          <h2><a href="<%= post.link %>"><%= post.title %></a></h2>
        </div>
            <div class="list">
              <div class="post_content">
                <%- post.abstract %>
              </div>
            </div>
            <div class="post_footer">
              <div class="meta">
                <div class="info">
                  <span class="field"><i class="fa fa-sun-o"></i><span class="date"><%= post.dateFormat %></span></span>
                  <span class="field"><i class="fa fa-eye"></i><span class="date"><%= post.stats.text %></span></span>
                  <span class="field tags"><i class="fa fa-flask"></i><% post.tags.forEach(function(tag) { %>
                    <a href="<%= tag.link %>" class="tag"><%= tag.name %></a>
                  <% }); %></span>
                </div>
              </div>
            </div>
      </div>
    <% }); %>
  <%- include('./includes/pagination') %>
  </div>
</div>

    </div>
    <!-- end: #main -->

    <%- include('./includes/footer') %>
  </body>
</html>